<ion-view view-title="Cuenta">
  <ion-content>
    <ion-list>
      <ion-item class="item-checkbox">
        Permitir notificaciones
        <label class="checkbox">
          <input type="checkbox">
        </label>
      </ion-item>
      <ion-item>
        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">ID USUARIO</span>
            <input type="text" placeholder="0201522496">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">MATRICULA</span>
            <input type="text" placeholder="0123-FGH">
          </label>
          <div class="item item-button-right">
            Reenviar código Bidi
            <button class="button button-positive" href="mailto:cluny85@gmail.com">
              <i class="icon ion-email"></i>
            </button>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
