<ion-view view-title="Inicio">
  <ion-content class="padding">
<!--
<div class="card">
  <a class="item item-avatar" href="#" on-drag-left="onDragLeft()">
    <img src="venkman.jpg">
    <h2>Título aviso 1</h2>
    <p>Por favor, su coche obstaculiza la salida de mi vehiculo. Proceda a moverlo lo antes posible. Gracias</p>
  </a>
</div>
<div class="card">
<a class="item item-avatar" href="#" on-drag-left="onDragLeft()">
    <img src="venkman.jpg">
    <h2>Título aviso 2</h2>
    <p>Su vehículo esta mal aparcado y hay policía por la zona.</p>
  </a>
</div>
-->
<ion-list>
  <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="push in pushes" type="item-text-wrap" ng-click="verMensaje({{push.id}})">
    <div class="card">
      <a class="item item-avatar">
        <!--<img ng-src="{{chat.face}}">-->
        <img src="venkman.jpg">
        <h2>{{push.title}}</h2>
        <p>{{push.text}}</p>
      </a>
    </div>

    <i class="icon ion-chevron-right icon-accessory"></i>

    <ion-option-button class="button-assertive" ng-click="remove(push)">
      Delete
    </ion-option-button>
  </ion-item>
</ion-list>

<button class="button button-block button-positive" ng-click="scanBarcode()" >
  Notificar <!--<i class="icon ion-qr-scanner"></i>-->
</button>
    
  </ion-content>
</ion-view>
